* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.main-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 1920px;
    background-color: black;
    overflow: hidden;
    transform: translateX(-50%);
}

/* ---------- Main Header Text ---------- */

.mission_mainText {
    color: white;
    text-align: center;
    background-color: black;
    top: -35vh;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to left, #00E0FF, #FF00D6) !important;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background-size .5s ease;
    border-radius: 2px;
    background-position-y: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    
}

.mission_headerText {
    font-size: 35px;
    font-weight: 400;
}


/* Gradient Lines */



/* ---------- Section Subtext ---------- */

.section1MainText .section1HeaderText {
    color: white;
    text-align: center;
    position: relative;
    top: -29.5vh;
    z-index: 3;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 47px;
    text-decoration: none;
    background-image: linear-gradient(to left, #00E0FF, #FF00D6) !important;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background-size .5s ease;
    border-radius: 2px;
    background-position-y: 44px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
}

.section1MainText {
    position: relative;
}

.section1SubText {
    position: relative;
    top: -28vh;
    text-align: center;
    z-index: 3;
    font-size: small;
    color: #D3D3D3;
    width: 300px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section2MainText .section2HeaderText {
    color: white;
    text-align: center;
    position: relative;
    top: -30vh;
    z-index: 3;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 47px;
    text-decoration: none;
    background-image: linear-gradient(to left, #00E0FF, #FF00D6) !important;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background-size .5s ease;
    border-radius: 2px;
    background-position-y: 44px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
}

.section2SubText {
    position: relative;
    top: -28vh;
    text-align: center;
    z-index: 3;
    font-size: small;
    color: #D3D3D3;
    width: 310px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section3MainText .section3HeaderText {
    color: white;
    text-align: center;
    position: relative;
    top: -30vh;
    z-index: 3;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 47px;
    text-decoration: none;
    background-image: linear-gradient(to left, #00E0FF, #FF00D6) !important;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background-size .5s ease;
    border-radius: 2px;
    background-position-y: 44px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
}

.section3SubText {
    position: relative;
    top: -28vh;
    text-align: center;
    z-index: 3;
    font-size: small;
    color: #D3D3D3;
    width: 310px;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* ---------- Buttons ---------- */

a {
    text-decoration: none;
    color: white;
}

.mission_buttons {
    position: absolute;
    top: 40vh;
    z-index: 3;
    margin: auto;

}

.mission_button {
    border: 1px solid white;
    padding: 0rem 0rem;
    transition: 0.25s;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.mission_button:nth-child(1) {
    /* Horizon Voyager */

    padding: 1rem 1.765rem;
    margin-right: 20px;
    background: #161616;
    font-size: 1rem;
    white-space: nowrap;
}

.mission_button:nth-child(2) {
    /* Starchaser */

    background: #161616;
    padding: 1rem 3rem;
    font-size: 1rem;
    white-space: nowrap;
}

.mission_button:nth-child(3) {
    /* Luna */

    background: #161616;
    padding: 1rem 4.3rem;
    font-size: 1rem;
    margin-top: 8.8rem;
    white-space: nowrap;
}

.mission_button:hover {
    background-color: white;
    color: black;
}

.mission_buttons {
    display: flex;
    justify-content: center;
}


.mission_button {
    position: absolute;
}

.mission_button:nth-child(1) {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

/* ---------- Section Settings ---------- */

section {
    width: 100%;
    height: 100vh;
    /* or however tall you want each section */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


/* ---------- Call To Action Buttons ---------- */


.cta_buttons {
    position: absolute;
    z-index: 3;
    margin: auto;

}

.cta_button {
    border: 1px solid white;
    padding: 0rem 0rem;
    transition: 0.25s;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cta_button:nth-child(1) {
    /* Contact Us */

    padding: 1rem 2.554rem;
    margin-right: 20px;
    background: #161616;
    font-size: 1rem;
    white-space: nowrap;
}

.cta_button:nth-child(2) {
    /* About Us */

    background: #161616;
    padding: 1rem 3rem;
    font-size: 1rem;
    white-space: nowrap;
}



.cta_button:hover {
    background-color: white;
    color: black;
}

.cta_buttons {
    display: flex;
    justify-content: center;
}


.cta_button {
    position: absolute;
}

.cta_button:nth-child(1) {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

.CTAMainText .CTAHeaderText {
    color: white;
    position: relative;
    z-index: 3;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 47px;
    text-decoration: none;
    bottom: 15vh;
    background-image: linear-gradient(to left, #00E0FF, #FF00D6) !important;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background-size .5s ease;
    border-radius: 2px;
    background-position-y: 44px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
}


/* ---------- Images ---------- */

.Image {
    width: 130vw;
    margin-top: 40vh;
    margin-right: -8vw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}



section:nth-child(2) .Image {
    margin-top: 20vh;
}

/* For testing */
section:nth-child(even) {
    background-color: black;
}

/* min-width is that size and bigger */

/* Mobile landscape */
@media only screen and (min-width: 480px) {

    .mission_button:nth-child(1) {
        /* Horizon Voyager */
    
        padding: 0.5rem 1.265rem;
        background: #161616;
        font-size: 0.8rem;
        white-space: nowrap;

    }

    .mission_button:nth-child(2) {

    
        margin-top: 2rem;
        padding: 0.5rem 2.21rem;
        background: #161616;
        font-size: 0.8rem;
        white-space: nowrap;

    }

    .mission_button:nth-child(3) {
        /* Luna */
    
        padding: 0.5rem 3.29rem;
        background: #161616;
        font-size: 0.8rem;
        white-space: nowrap;
        margin-top: 6.8rem;

    }


    .mission_button:hover {
        background-color: white;
        color: black;
    }

    .mission_headerText {
        margin-top:-3rem;
        z-index: 4;
    }

    .Image {
        position: absolute;
        right: 2rem;
        width: 50vw;
        margin-top: 0;
    }

    .section1MainText .section1HeaderText {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .section1MainText {
        text-align: left;
        left: 2%;
        display: flex;
        flex-direction: column;
        top: 36%;
        position: absolute;
    }

    .section1SubText {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .section2MainText .section2HeaderText {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .section2MainText {
        text-align: left;
        left: 2%;
        display: flex;
        flex-direction: column;
        top: 55%;
        position: absolute;
    }

    .section2SubText {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .section3MainText .section3HeaderText {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .section3MainText {
        text-align: left;
        left: 2%;
        display: flex;
        flex-direction: column;
        top: 73%;
        position: absolute;
    }

    .section3SubText {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .cta_button:nth-child(2) {
        margin-top: 0.7rem;
    }

    .quote {
        visibility: collapse;
    }

}

/* Tablet portrait */
@media only screen and (min-width: 768px) {
    section {
        background-color: black;
    }

    .Image {
        margin-top: 0;
        width: 40vw;
        right: 5rem;
    }

    .section1MainText .section1HeaderText {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .section1MainText {
        text-align: left;
        left: 5%;
        display: flex;
        flex-direction: column;
        top: 36%;
        position: absolute;
    }

    .section1SubText {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .section2MainText .section2HeaderText {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .section2MainText {
        text-align: left;
        left: 5%;
        display: flex;
        flex-direction: column;
        top: 55%;
        position: absolute;
    }

    .section2SubText {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .section3MainText .section3HeaderText {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .section3MainText {
        text-align: left;
        left: 5%;
        display: flex;
        flex-direction: column;
        top: 73%;
        position: absolute;
    }

    .section3SubText {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .quote {
        visibility: collapse;
    }
    

}

/* Tablet landscape */
@media only screen and (min-width: 992px) {
    section {
        background-color: black;
    }
    .mission_button:nth-child(1) {
        /* Horizon Voyager */
    
        padding: 1rem 2.798rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;
        margin-top: -1rem;

    }

    .mission_button:nth-child(2) {

    
        margin-top: -5rem;
        padding: 1rem 4rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;

    }

    .mission_button:nth-child(3) {
        /* Luna */
    
        padding: 1rem 5.345rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;
        margin-top: 3rem;

    }


    .mission_button:hover {
        background-color: white;
        color: black;
    }

    .Image {
        width: 60vw;
    }

    .quote {
        visibility: collapse;
    }

}

/* Laptops */
@media only screen and (min-width: 1200px) {
    section {
        background-color: black;
    }

    .Image {
        width: 50vw;
    }

    .cta_button:nth-child(1) {
        margin-top: 0.5rem;
    }

    .cta_button:nth-child(2) {
        margin-top: 5rem;
    }

    .mission_button:nth-child(1) {
        /* Horizon Voyager */
    
        padding: 1rem 2.798rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;
        margin-top: 2rem;

    }

    .mission_button:nth-child(2) {

    
        margin-top: -2rem;
        padding: 1rem 4rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;

    }

    .mission_button:nth-child(3) {
        /* Luna */
    
        padding: 1rem 5.345rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;
        margin-top: 6rem;

    }


    .mission_button:hover {
        background-color: white;
        color: black;
    }

    #HorizonVoyager .Image {
        z-index: 3;
        top: 40%;
    }

    #Luna .Image {
        top: 60%;
        z-index: 2;
    }

    .quote {
        visibility: collapse;
    }

}

/* Personal Computers */
@media only screen and (min-width: 1800px) {
    section {
        background-color: black;
    }

    .Image {
        width: 50vw;
    }

    .cta_button:nth-child(1) {
        margin-top: -3.5rem;
    }

    .cta_button:nth-child(2) {
        margin-top: 1rem;
    }

    .mission_button:nth-child(1) {
        /* Horizon Voyager */
    
        padding: 1rem 2.798rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;
        margin-top: -1rem;

    }

    .mission_button:nth-child(2) {

    
        margin-top: -5rem;
        padding: 1rem 4rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;

    }

    .mission_button:nth-child(3) {
        /* Luna */
    
        padding: 1rem 5.345rem;
        background: #161616;
        font-size: 1rem;
        white-space: nowrap;
        margin-top: 3rem;

    }


    .mission_button:hover {
        background-color: white;
        color: black;
    }

    #HorizonVoyager .Image {
        z-index: 3;
    }

    .quote {
        visibility: visible;
        position: absolute;
        display: flex;
        justify-content: center;
        right: 29.9%;
    }

}


